<!DOCTYPE html>
<html>
<head>{{> /include/head}}
</head>
<body>
	{{> /include/navigation}}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">break.java</h1>
			<p class="lead">로그인 한번 기가막히게 부탁드립니다.</p>
		</div>
	</div>
	<div class="container pt-5">
		<div class="row">
			<div class="col-0 col-md-3"></div>
			<div class="col-12 col-md-6">
				<form action="/users/login" method="post">
					<div class="form-group">
						<label for="userId">ID</label> <input name="userId" type="text"
							class="form-control" id="userId" aria-describedby="idhelp"
							placeholder="Enter userId"> <small id="idhelp"
							class="form-text text-muted">쓰게 해서 죄송합니다</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label> <input
							name="password" type="password" class="form-control"
							id="exampleInputPassword1" placeholder="Password">
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check
							me out</label>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">로그인</button>
					</div>
				</form>
			</div>
			<div class="col-0 col-md-3"></div>
		</div>
	</div>
</body>
{{> /include/default_set}}
</html>