<!DOCTYPE html>
<html>
<head>{{> /include/head}}
</head>
<body>
	{{> /include/navigation}}
	<div class="container pt-4">
		<div class="card-columns">
		{{#questions}}
			<div class="card">
				<div class="card-body">
					<a href="/questions/{{id}}">
						<h5 class="card-title">{{title}}</h5>
					</a>
					<p class="card-text">
						<small class="text-muted">{{FormattedCreateDate}} written by {{writer.userId}}</small>
					</p>
				</div>
			</div>
		{{/questions}}
		</div>
	</div>
</body>
{{> /include/default_set}}
</html>